<?xml version="1.0"?>
<config>
    <modules>
        <Skywalker_Internship>
            <version>0.1.1</version>
        </Skywalker_Internship>
    </modules>
    <frontend>
        <routers>
            <internship>
                <use>standard</use>
                <args>
                    <module>Skywalker_Internship</module>
                    <frontName>hello</frontName>
                </args>
            </internship>
        </routers>
        <layout>
            <updates>
                <internship>
                    <file>internship/index.xml</file>
                </internship>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <internship>
                <class>Skywalker_Internship_Block</class>
            </internship>
        </blocks>
        <models>
            <internship>
                <class>Skywalker_Internship_Model</class>
                <resourceModel>internship_resource</resourceModel>
            </internship>
            <internship_resource>
                <class>Skywalker_Internship_Model_Resource</class>
                <entities>
                    <contact>
                        <table>contact</table>
                    </contact>
                    <comment>
                        <table>comment</table>
                    </comment>
                </entities>
            </internship_resource>
        </models>
        <resources>
            <internship_setup>
                <setup>
                    <module>Skywalker_Internship</module>
                    <class>Skywalker_Internship_Model_Resource_Setup</class>
                </setup>
            </internship_setup>
        </resources>
    </global>
</config>