<?xml version="1.0"?>
<config>
    <modules>
        <Skywalker_InternshipBlog>
            <version>0.1.0</version>
        </Skywalker_InternshipBlog>
    </modules>
    <frontend>
        <routers>
            <internshipblog>
                <use>standard</use>
                <args>
                    <module>Skywalker_InternshipBlog</module>
                    <frontName>blog</frontName>
                </args>
            </internshipblog>
        </routers>
        <layout>
            <updates>
                <internshipblog>
                    <file>internshipblog/blog.xml</file>
                </internshipblog>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <internshipblog>
                <class>Skywalker_InternshipBlog_Block</class>
            </internshipblog>
        </blocks>
        <models>
            <internshipblog>
                <class>Skywalker_InternshipBlog_Model</class>
                <resourceModel>internshipblog_resource</resourceModel>
            </internshipblog>
            <internshipblog_resource>
                <class>Skywalker_InternshipBlog_Model_Resource</class>
                <entities>
                    <post>
                        <table>post</table>
                    </post>
                    <postCategory>
                        <table>post_category</table>
                    </postCategory>
                </entities>
            </internshipblog_resource>
        </models>
        <resources>
            <internshipblog_setup>
                <setup>
                    <module>Skywalker_InternshipBlog</module>
                    <class>Skywalker_InternshipBlog_Model_Resource_Setup</class>
                </setup>
            </internshipblog_setup>
        </resources>
        <events>
            <post_save_before>
                <observers>
                    <observer_to_update_date>
                        <class>internshipblog/observer</class>
                        <method>updateDate</method>
                    </observer_to_update_date>
                </observers>
            </post_save_before>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <internshipblog before="Mage_Adminhtml">Skywalker_InternshipBlog_Adminhtml</internshipblog>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>