<?xml version="1.0"?>
<config>
    <modules>
        <Skywalker_InternshipBlog>
            <version>0.1.0</version>
        </Skywalker_InternshipBlog>
    </modules>
    <frontend>
        <routers>
            <internshipblog>
                <use>standard</use>
                <args>
                    <module>Skywalker_InternshipBlog</module>
                    <frontName>blog</frontName>
                </args>
            </internshipblog>
        </routers>
    </frontend>
    <global>
        <models>
            <internshipblog>
                <class>Skywalker_InternshipBlog_Model</class>
                <resourceModel>internshipblog_resource</resourceModel>
            </internshipblog>
            <internshipblog_resource>
                <class>Skywalker_InternshipBlog_Model_Resource</class>
                <entities>
                    <post>
                        <table>post</table>
                    </post>
                    <post_category>
                        <table>post_category</table>
                    </post_category>
                </entities>
            </internshipblog_resource>
        </models>
        <resources>
            <internshipblog_setup>
                <setup>
                    <module>Skywalker_InternshipBlog</module>
                    <class>Skywalker_InternshipBlog_Model_Resource_Setup</class>
                </setup>
            </internshipblog_setup>
        </resources>
    </global>
</config>