<?xml version="1.0"?>
<config>
    <modules>
        <Skywalker_Testing>
            <version>0.1.0</version>
        </Skywalker_Testing>
    </modules>
    <frontend>
        <routers>
            <testing>
                <use>standard</use>
                <args>
                    <module>Skywalker_Testing</module>
                    <frontName>testing</frontName>
                </args>
            </testing>
        </routers>
        <layout>
            <updates>
                <testing>
                    <file>testing.xml</file>
                </testing>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <testing>
                <class>Skywalker_Testing_Block</class>
            </testing>
        </blocks>
        <models>
            <testing>
                <class>Skywalker_Testing_Model</class>
                <resourceModel>testing_resource</resourceModel>
            </testing>
            <testing_resource>
                <class>Skywalker_Testing_Model_Resource</class>
                <entities>
                    <eavtest>
                        <table>eavtest</table>
                    </eavtest>
                </entities>
            </testing_resource>
        </models>
        <resources>
            <testing_setup>
                <setup>
                    <module>Skywalker_Testing</module>
                    <class>Skywalker_Testing_Model_Resource_Setup</class>
                </setup>
            </testing_setup>
        </resources>
    </global>
</config>